* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* ******************************************
UTILITY
****************************************** */

.txt-white{
    color: white;
}

.bkg-violet{
    background-color: #9792e4;
}

.list {
    display: none;
}

.col-60, .col-30{
    border-radius: 20px;
}

.button {
    width: 100%;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
}

.button i {
    padding-right: 10px;
}

.col-60 h2, p, a {
    padding: 30px; 
}

a{
text-decoration: none;
}

.bkg-blue {
    background-color: #0084fd;

}
/* ******************************************
HEADER
****************************************** */

header {
    background-color: #0084fd;
    
}

header .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.logo img {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

li {
    list-style-type: none; 
    justify-content: space-between;
    margin: 0 10px;
}
 

/* ******************************************
MAIN
****************************************** */

p {
    color: #5e7284
}



section .row{
    margin: 0 Auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.first h2{
    color: rgb(0, 123, 255);
}

.col-30 i {
    font-size: 100px;
    color: rgb(0, 123, 255);
}

.col-60{
    max-width: 700px;
    background-color: rgb(135, 195, 241);
    
}

.col-30{
    max-width: 700px;
    background-color: rgb(135, 195, 241);
    margin: 40px;
}


.content{
    text-align: center;
    padding: 30px;
}



.image img {
    width: 30%;

}

.col-50{
    max-width: 100%;
    background-color: whitesmoke;
    margin: 5px;
}


.third .col-30{
    background-color: #9792e4;;
}
.third img{ 
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}
.fourth .col-30{
    background-color: white;
}

.fourth .content{
    background-color: ;
}


.title{
    color: rgb(186, 132, 236);
}

.col-100{
    width: 80%;
    height: 200px;
    background-color: whitesmoke;
}


/* ******************************************
FOOTER
****************************************** */

footer {
    background-color: #333333;
}




/* ******************************************
MEDIA
****************************************** */

@media screen and (min-width:769px){
    section .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .list {
        display: none;
    }

    .col-30{
        width: 30%;
       
    }

    .col-60{
        width: 60%;
        
    }

    .col-50{
        width: 100%;
    }

    .third .col-30{
        width: 100%;  
    }

    .fourth .col-30{
        width: 40%;
    }

    .fourth .col-30{
        width: 40%;
    }
}

@media screen and (min-width:993px){
 
.hamburger{
    display: none;
}

.list{
    display: inline;
}
}