* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* ******************************************
UTILITY
****************************************** */

.txt-white {
    color: white;
}

.txt-orange {
    color: orange;
}

.txt-grey {
    color: lightslategray;
}

.txt-black {
    color: black;
}

.txt-violet {
    color: #9792e4;
}

.bkg-violet {
    background-color: #9792e4;
}

.bkg-white {
    background-color: white;
}

.list {
    display: none;
}

.col-60,
.col-30 {
    border-radius: 20px;
}

.button {
    width: 100%;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
}

.button i {
    padding-right: 10px;
}

.col-60 h2,
p,
a {
    padding: 10px;
}

a {
    text-decoration: none;
}

.bkg-blue {
    background-color: #0084fd;

}

h2 {
    text-align: center;
}

.padding-30px {
    padding: 30px;
}


/* ******************************************
HEADER
****************************************** */

header {
    background-color: #0084fd;

}

header .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo img {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

li {
    list-style-type: none;
    justify-content: space-between;
    margin: 0 10px;
}


/* ******************************************
MAIN
****************************************** */

p {
    color: #5e7284
}



section .row {
    margin: 0 Auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.first h2 {
    color: rgb(0, 123, 255);
}

.col-30 i {
    font-size: 100px;
    color: rgb(0, 123, 255);
}

.col-60 {
    width: 80%;
    background-color: rgb(135, 195, 241);
    margin: 5px;

}

.col-30 {
    width: 80%;
    background-color: rgb(135, 195, 241);
    margin: 5px;
}

.description .txt-white{
    margin: 10px;
}


.content {
    text-align: center;
    padding: 5px;
}



.image img {
    width: 50%;

}

.col-50 {
    max-width: 100%;
    background-color: whitesmoke;
    margin: 5px;
}


.second .image {
    width: 100%;
}

.second .col-50:last-child {
    border-radius: 10%;
    margin: 40px;
}




.third .col-30 {
    background-color: #9792e4;
    ;
}

.third img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.third .imge {
    text-align: center;
    padding: 20px 0;
}


.content .txt-violet {
    margin: 10px 0;
}

.fourth .content{
    padding: 20px;
}


.fourth .col-30 {
    background-color: white;
}




.title {
    color: rgb(186, 132, 236);
    text-align: center;
}

.col-100 {
    width: 80%;

}


.about-us img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.get-started span,
h3,
h4,
h2,
p  {
    text-align: center;
    margin: 10px 0;
}

.col-100 span {
    text-align: center;

}

.get-started a {
    color: #9792e4;
}

.get-started button{
    text-align: center;

}

.bottone-centrale {
    text-align: center;
}


/* ******************************************
FOOTER
****************************************** */

footer {
    background-color: #333333;
}

footer .row {
    /* margin: 0 auto; */
}





/* ******************************************
MEDIA
****************************************** */


/* Tablet */
@media screen and (min-width:769px) {
    section .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .list {
        display: none;
    }

    .col-30 {
        width: 30%;

    }



    .col-60 {
        width: 60%;
    }

    .col-50 {
        width: 100%;
    }

    .card {
        display: flex;

    }

    .third .col-30 {
        width: 100%;
    }



    .fourth .col-30 {
        width: 50%;
    }

    .fourth .col-30 {
        width: 40%;
    }

.first  .col-60 {
    min-height: 500px;
}

.first  .col-30 {
    min-height: 500px;
}

.third img {
    padding: 20px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.description .txt-white {
  text-align: start;
}

.description span {
    padding: 10px;
  }    

}

/* landdscape */
@media screen and (min-width:993px) {

    header .row {
        margin: 0 auto;

        width: 80%;
    }



    .hamburger {
        display: none;
    }

    section .row {
        width: 80%;
    }

    .fourt .row {
        width: 80%;
    }

    .list {
        display: block;
    }

    .fourth .col-30 {
        width: 30%;
    }


    .second .row {
        display: flex;

    }

    .col-50 {
        width: 40%;
    }
}

/* Desktop */

@media screen and (min-width:1200px) {

    header .row {
        margin: 0 auto;

        width: 80%;
    }

    .hamburger {
        display: none;
    }

    section .row {
        width: 80%;
    }

    .fourt .row {
        width: 80%;
    }

    .list {
        display: block;
    }

    .fourth .col-30 {
        width: 30%;
    }


    .second .row {
        display: flex;

    }

    .col-50 {
        width: 40%;
    }

    .third img {
        padding: 20px;
    }

    
    .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }

    .description .txt-white {
      text-align: start;
    }

    .description span {
        padding: 10px;
      }    
}